.home-section {
    position: relative;
    background: url('../images/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 75px;
}
.home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.home-section .container {
    position: relative;
    z-index: 1;
}
