:root {
    /* icon colors */
    --github: #24292E;
    --linkedin: #0A66C2;
    --stack: #F48024;
    --twitter: #1DA1F2;
    --whatsapp: #25D366;
    --facebook: #1877F2;
    --instagram: radial-gradient(circle at 30% 107%, #FDF497 0%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
    --discord: #5865F2;
}

/* Alan Sans */
@font-face {
    font-family: 'Alan Sans';
    src: url('../assets/fonts/Alan_Sans/static/AlanSans-Regula') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alan Sans';
    src: url('../assets/fonts/Alan_Sans/static/AlanSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* === Fira Sans === */
@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Fira Sans";
}

.home-section {
    position: relative;
    background: url('../assets/images/hero-bg.jpg') center/cover no-repeat;
    color: white;
}

.home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* adjust 0.6 for more/less darkness */
    z-index: 0;
}

.home-section .container {
    position: relative;
    z-index: 1;
    /* keep your text above the overlay */
}

.service {
    position: relative;
    background: url('../assets/images/service-bg.jpg') center/cover no-repeat;
    color: white;
}
.service .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* adjust 0.6 for more/less darkness */
    z-index: 0;
}

.service .container {
    position: relative;
    z-index: 1;
    /* keep your text above the overlay */
}





.fw-bold {
    font-family: "Alan Sans";
    font-weight: 700;
    font-style: normal;
}

.nav-item {
    font-family: "Fira sans";
    font-weight: bolder;
}

.icons {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.container a {
    text-decoration: none;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}