* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Alan Sans */
@font-face {
    font-family: 'Alan Sans';
    src: url('../../public/fonts/Alan_Sans/static/AlanSans-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* === Fira Sans === */
@font-face {
    font-family: 'Fira Sans';
    src: url('../../public/fonts/Fira_Sans/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Alan Sans";
}

nav,
footer,
h2 {
    font-family: "Fira Sans";
}

.navbar-brand {
    font-family: "Alan Sans";
}

.text-uppercase {
    font-family: "Alan Sans";
}

.navbar-nav .nav-link:hover {
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.home-section {
    position: relative;
    background: url('../../public/images/hero-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 130px;
}

.home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.home-section .container {
    position: relative;
    z-index: 1;
}

.service {
    position: relative;
    background: url('../../public/images/service-bg.jpg') center/cover no-repeat;
    color: white;
}

.service .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* adjust 0.6 for more/less darkness */
    z-index: 0;
}

.service .container {
    position: relative;
    z-index: 1;
    /* keep your text above the overlay */
}

.social-media-icons .social-icon-link i {
    font-size: 2.2rem;
    color: #323944;
    transition: color 0.3s ease;
}

.social-media-icons .social-icon-link {
    margin: 0 0.6rem;
}

.social-media-icons .social-icon-link:hover i {
    color: #0a58ca;
    transform: scale(1.1);
}

.follow-me-box {
    border-radius: 0.5rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}