
<!-- Footer -->
<footer class="bg-black text-white text-center p-3">

    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-primary">Contact</h5>
        <p class="small"><i class="bi bi-house-door me-2"></i> Nairobi, Kenya</p>
        <p class="small"><i class="bi bi-phone me-2"></i> +254 715 069 901</p>
        <p class="small"><i class="bi bi-envelope me-2"></i> <a class="text-decoration-none" href="mailto:mongarejoshua254@gmail.com" target="_blank">mongarejoshua254@gmail.com</a></p>
        <div class="social-media-icons">
            <a href="https://www.linkedin.com/in/mongare-joshua-30663431a/" target="_blank"
                class="text-decoration-none social-icon-link"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/mongarejoshua?tab=repositories" target="_blank"
                class="text-decoration-none social-icon-link"><i class="bi bi-github"></i></a>
            <a href="https://x.com/urboyprince_ke?t=JSkGCbgOrVEgdZhgnyw5jw&s=09" class="text-decoration-none social-icon-link"
                target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.threads.com/@urboyprince_ke" class="text-decoration-none social-icon-link" target="_blank"><i
                    class="bi bi-threads"></i></a>
            <a href="https://www.instagram.com/urboyprince_ke?igsh=Z3BodHl0azExb3pk"
                class="text-decoration-none social-icon-link" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://wa.me/254715069901" class="text-decoration-none social-icon-link" target="_blank"><i
                    class="bi bi-whatsapp"></i></a>
        </div>
    </div>
    <hr>
    <p class="mb-2">Electrical & Telecom Engineer | Powered by TechWithJosh</p>
    <p>&copy; 2025 All Rights Reserved.</p>
</footer>

<script src="../assets/scripts/load-header-footer.js"></script>