<!-- navbar components -->
<nav class="navbar navbar-expand-lg sticky-top shadow-sm navbar-dark bg-black">
    <div class="container">
        <a class="navbar-brand fw-bold fs-4 text-primary" href="#home">
            <i class="bi bi-code-slash me-2 text-warning"></i>TECHWITHJOSH
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Added text-white to nav-links for fixed-top dark background and icons for aesthetics -->
                <li class="nav-item"><a class="nav-link text-white" href="#home"><i
                            class="bi bi-house-door-fill me-1"></i>HOME</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#about"><i
                            class="bi bi-person-fill me-1"></i>ABOUT</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#projects"><i
                            class="bi bi-kanban-fill me-1"></i>PROJECTS</a></li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="https://github.com/mongarejoshua?tab=repositories"
                        target="_blank">
                        <i class="bi bi-github me-1"></i>GITHUB
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link text-white" href="#services"><i
                            class="bi bi-cpu-fill me-1"></i>SERVICES</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#blog"><i
                            class="bi bi-book-fill me-1"></i>BLOG</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#contact"><i
                            class="bi bi-chat-dots-fill me-1"></i>CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>