.service {
    position: relative;
    background: url('../images/service-bg.jpg') center/cover no-repeat;
    color: white;
}

.service .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* adjust 0.6 for more/less darkness */
    z-index: 0;
}

.service .container {
    position: relative;
    z-index: 1;
    /* keep your text above the overlay */
}